.products-container {
    background-color: aqua;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 9px;
}
.products {
    background-color: royalblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.cart-container .cart {
    position: sticky;
    top: 0;
    background-color: azure;
}
