header {
    min-height: 80px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 2;
}
nav a {
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
nav a:hover {
    color: black;
    cursor: pointer;
}
